export const domain = '{{ getenv "DOMAIN" }}'
export const clientId = '{{ getenv "CLIENT_ID" }}'
export const callbackUrl = '{{ getenv "CALLBACK_URL" }}'
export const scopes = '{{ getenv "SCOPES" }}'
export const employeeSvcUrl = '{{ getenv "EMPLOYEE_SVC" }}'
export const eventSvcUrl = '{{ getenv "EVENT_SVC" }}'
